
<style type="text/css" media="screen">
    .organizer { overflow: hidden; margin-bottom: 20px; }
    .bio { width: 60%; float: left; }
    .image { width: 40%; float: right; }
    .image img {
        border-radius: 50%;
        width: 100%; /* Scale with parent width */
        height: auto; /* Maintain aspect ratio */
        max-width: 400px; /* Set a maximum width relative to parent */
    }
    .left { float: left; }
    .right { float: right; }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        .bio, .image { float: none; width: 100%; }
        .image img { max-width: 50%; } /* Set a maximum width relative to parent */
    }
</style>
