/* ============================
   Organizer & Speaker Layout
   ============================ */

.organizer, .speaker { overflow: hidden; margin-bottom: 20px; }
.bio { width: 80%; float: left; }
.speakerbio { width: 75%; float: left; }
.image { width: calc(20% - 20px); padding: 10px; float: right; }
.speakerimage { width: calc(25% - 20px); padding: 10px; float: right; }
.image img {
    border-radius: 50%;
    width: 100%; /* Scale with parent width */
    height: auto; /* Maintain aspect ratio */
    max-width: 400px; /* Set a maximum width relative to parent */
}
.speakerimage img {
    border-radius: 50%;
    width: 100%; /* Scale with parent width */
    height: auto; /* Maintain aspect ratio */
    max-width: 400px; /* Set a maximum width relative to parent */
}
.left { float: left; }
.right { float: right; }

/* Responsive adjustments */
@media (max-width: 768px) {
    .bio, .image { float: none; width: 100%; }
    .image img { max-width: 50%; } /* Set a maximum width relative to parent */
}

/* program */
.schedule-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px 30px;
}
.schedule-item {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
}
.schedule-item:last-child {
    border-bottom: none;
}
.time {
    font-weight: bold;
    color: #3498db;
    min-width: 130px;
    font-size: 1.1em;
}
.activity {
    color: #34495e;
    flex: 1;
    font-size: 1.05em;
}
